<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser when
the user must verify their email address before they can use this
local identity profile to complete a single sign-on transaction.

Velocity variables (identified by the $ character) are generated
at runtime by the server.

The following variables are available on this page, but not used by default:

$utils                 - The utility method to display JSON String arrays
$escape                - The utility class that can be used to escape String variables
$HttpServletResponse   - The details of HTTP response
$HttpServletRequest    - The details of HTTP request
$TrackingId            - The user's session tracking ID
$PingFedBaseURL        - The URL containing full hostname and port on which the PingFederate deployment runs on
$CurrentPingFedBaseURL - The base URL used in the current request
$locale                - The user's country and language
$templateMessages      - The set of messages that is used to localize messages based on the user's locale

$extendedProperties - The extended properties defined on either the connection or OAuth client

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.

It is recommended to sanitize the values that are displayed using $escape.escape(), for example $escape.escape($client_id).

*#

<!-- template name: local.identity.email.verification.required.html -->

#set( $messageKeyPrefix = "local.identity.email.verification.required." )

<html lang="$pluginLocale.getLanguage()" dir="ltr">
<head>
    <title>$templateMessages.getMessage($messageKeyPrefix, "title")</title>
    <base href="$CurrentPingFedBaseURL"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
</head>

<body>

#if($bannerMessages)
<div data-id="messages" class="page-messages full">
    #foreach ($bannerMessage in $bannerMessages.getBannerMessages())
        <div class="message show $bannerMessage.getCssString()">
            $templateMessages.getMessage($bannerMessage.getMessageKey(), $bannerMessage.getParams())<a class="close"></a>
        </div>
    #end
</div>
#end

<div class="ping-container ping-signin ping-large">

    <div class="ping-header">
        <span class="company-logo"><!-- client company logo here --></span>
        $templateMessages.getMessage($messageKeyPrefix, "title")
    </div>
    <!-- .ping-header -->

    <div class="ping-body-container">
        <div>
            <form method="POST" action="$url" autocomplete="off">
                <input type="hidden" name="isRequireVerifiedEmailForm" value="true"/>

                <div class="ping-messages">
                    <input type="hidden" name="$resend" value=""/>
                    <div>
                        $templateMessages.getMessage($messageKeyPrefix, "description.1")
                        #if($descriptionMessage)
                            <!-- description.2 -->
                            <span style="font-weight:bold">$templateMessages.getMessage($descriptionMessage.getMessageKey(), $descriptionMessage.getParams())</span>
                        #end
                        $templateMessages.getMessage($messageKeyPrefix, "description.3")
                    </div>

                    <div>
                        $templateMessages.getMessage($messageKeyPrefix, "resend.description")
                        <a id="resend-email-link" href="javascript:void(0)" onclick="postResend();" title="$templateMessages.getMessage($messageKeyPrefix, "resendLinkTitle")">
                        $templateMessages.getMessage($messageKeyPrefix, "resendLinkTitle")
                        </a>
                    </div>
                </div>
                <!-- .ping-messages -->

                <div class="ping-buttons">
                    <input type="hidden" name="$continue" value=""/>
                    <input type="hidden" name="$profileManagement" value=""/>
                    <input type="hidden" name="$cancel" value=""/>

                    <a id="continue-button" href="javascript:void(0)" onclick="postContinue();" class="ping-button normal allow" title="$templateMessages.getMessage($messageKeyPrefix, "continueButtonTitle")">
                    $templateMessages.getMessage($messageKeyPrefix, "continueButtonTitle")
                    </a>

                    <a id="cancel-link" href="javascript:void(0)" onclick="postCancel();" class="ping-button blue deny" title="$templateMessages.getMessage($messageKeyPrefix, "cancelLinkTitle")">
                    $templateMessages.getMessage($messageKeyPrefix, "cancelLinkTitle")
                    </a>

                    #if($isProfileManagementEnabled)
                    <a id="manage-profile-link" href="$profileManagementPath" target="_blank" class="ping-button blue deny" title="$templateMessages.getMessage($messageKeyPrefix, "profileManagementLinkTitle")">
                    $templateMessages.getMessage($messageKeyPrefix, "profileManagementLinkTitle")
                    </a>
                    #end

                </div>
                <!-- .ping-buttons -->

            </form>
        </div>
        <!-- .ping-body -->
    </div>
    <!-- .ping-body-container -->

    <div class="ping-footer-container">
        <div class="ping-footer">
            <div class="ping-credits"></div>
            <div class="ping-copyright">$templateMessages.getMessage("global.footerMessage")</div>
        </div>
        <!-- .ping-footer -->
    </div>
    <!-- .ping-footer-container -->

</div>
<!-- .ping-container -->

<script type="text/javascript">
    var formSubmitted = false;

    function postResend() {
        document.forms[0]['$resend'].value = 'clicked';
        document.forms[0].submit();
    }

    function postCancel() {
        document.forms[0]['$cancel'].value = 'clicked';
        document.forms[0].submit();
    }

    function postContinue() {
        if (formSubmitted)
            return true;

        formSubmitted = true;

        document.forms[0]['$continue'].value = 'clicked';
        document.forms[0].submit();
    }

    function postOnReturn(e) {
        if (window.event)
            keycode = window.event.keyCode;
        else if (e)
            keycode = e.which;
        else
            return true;

        if (keycode == 13) {
            if (formSubmitted)
                return true;

            formSubmitted = true;

            document.forms[0]['$continue'].value = 'clicked';
            document.forms[0].submit();
            return false;
        } else {
            return true;
        }
    }

    function setMobile(mobile) {
        var className = ' mobile',
            hasClass = (bodyTag.className.indexOf(className) !== -1);

        if(mobile && !hasClass) {
            bodyTag.className += className;

        } else if (!mobile && hasClass) {
            bodyTag.className = bodyTag.className.replace(className, '');
        }

        <!-- Check if this is the PingOne Mobile App -->
        #if($HttpServletRequest.getHeader('X-Ping-Client-Version'))
        if(mobile) {
            bodyTag.className += ' embedded';
        }
        #end
    }

    function getScreenWidth() {
        return (window.outerHeight) ? window.outerWidth : document.body.clientWidth;
    }

    var bodyTag = document.getElementsByTagName('body')[0],
        width = getScreenWidth();

    if(/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        setMobile(true);
    } else {
        setMobile((width <= 480));
        window.onresize = function() {
            width = getScreenWidth();
            setMobile((width <= 480));
        }
    }

    function clearMessage(element, timeout) {
        setTimeout(function () {
            element.style.display = 'none'
        }, timeout);
    }

    function showMessage(element, timeout) {
        setTimeout(function () {
            element.style.display = 'block'
        }, timeout);
    }

    const messages = document.querySelectorAll('.page-messages .message');
    for (i = 0; i < messages.length; i++) {
        showMessage(messages[i], 250 * i);
    }

    // hide messages after 5 seconds.
    setInterval(function(){
        const messages = document.querySelectorAll('.page-messages .message');
        for (var i = 0; i < messages.length; i++) {
            clearMessage(messages[i], 750 * i);
        }
    }, 5000);

    const closebuttons = document.querySelectorAll('.page-messages .message > a.close');
    // attach listener to remove message when close button is clicked.
    for (i = 0; i < closebuttons.length; i++) {
        var element = closebuttons[i];
        element.addEventListener('click', function (event) {
            var messagediv = event.target.parentNode;
            messagediv.parentNode.removeChild(messagediv);
        })
    }

</script>

</body>
</html>